<!DOCTYPE html>
<html>
<head>
    <title>Tuin de Es Installation &mdash; {% block title %}{% endblock %}</title>
</head>
<body>
    <main id="content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>