{% extends  "layouts/base.html.twig "%}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container center">
        <div class="row">
            <div class="offset-md-4 col-4 text-center">
                <h3>Hoera, het is gelukt!</h3>
                <p>De website staat nu online</p>
            </div>
        </div>
    </div>
{% endblock %}