{% extends  "layouts/base.html.twig " %}

{% block title %}Intial Setup{% endblock %}

{% block content %}
    <div class="container center">
        <div class="row">
            <div class="col text-center">
                <input type="hidden" name="start_initial_setup">

                <h3>Eerst even alles klaar zetten...</h3>
                <p>Op moment wordt er voor u van alles klaar gezet<br> om de website in gebruik te nemen</p>
                <div class="my-4">
                    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
                <button type="button" class="btn btn-secondary" disabled>Bezig...</button>
            </div>
        </div>
    </div>
{% endblock %}